NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres.dbkpnectrvhybscotnbz:[123Galiih_!]@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.dbkpnectrvhybscotnbz:123Galiih__@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres"
